*

!.gitignore

!.bashrc
!.profile
!.sudo_as_admin_successful
!.tmux.conf
!.vimrc

!.aws
!.aws/config

!.config
!.config/**

!.initfiles
!.initfiles/**

!.ssh
!.ssh/authorized_keys

!.stack
!.stack/config.yaml

!.vim
!.vim/after
!.vim/after/**
