*

!.gitignore

!.bashrc
!.profile
!.bash_profile
!.tmux.conf
!.vimrc

!.aws
!.aws/config

!.config
!.config/**

!.initfiles
!.initfiles/**

# XXX this is inappropriate for work machines
!.ssh
!.ssh/authorized_keys

!.stack
!.stack/config.yaml

!.vim
!.vim/after
!.vim/after/**
